<h1>People</h1>

<div>
  <%= link_to 'New person', new_person_path %>

  <% @people_by_role.each do |role, people| %>
    <h2><%= role %></h2>
    <% people.each do |person| %>
      <div class="person">
        <%= image_tag show_avatar_person_path(person, :style => :medium) %>
        <p>Name: <%= person.name %></p>
        <p>Description: <%= person.description %></p>
      </div>
    <% end %>
  <% end %>
</div>