<h1>People</h1>

<table>

  <%= link_to 'New person', new_person_path %>

  <% @people.each do |person| %>
    <tr>
     <td><%= image_tag person_avatar_file_path(person, person.avatar_file, :style => :medium) %></td>
      <td><%= person.name %></td>
      <td><%= person.role.name %></td>
      <td><%= person.description %></td>
      <!-- <td><%= link_to 'Show', person_path(person) %></td> -->
    </tr>
  <% end %>
</table>