<header>
  <nav>
    <ul>
      <li>
        <%= link_to image_tag('Logo.png', alt: 'Home'), root_path %>
      </li>
      <li class="menu-item">
        <%= link_to 'EVENTS', events_path %>
      </li>
      <li class="menu-item">
        <%= link_to 'PEOPLE', people_path %>
      </li>
      <li class="menu-item">
        <%= link_to 'ABOUT', about_path %>
      </li>

      <% if user_signed_in? %>
        <li class="menu-item sign-out">
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>